[submodule "website"]
	path = website
	url = git@github.com:micio86dev/voxtranslate-website.git
	branch = main
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:micio86dev/voxtranslate-dashboard.git
	branch = main
[submodule "n8n"]
	path = n8n
	url = git@github.com:micio86dev/voxtranslate-n8n.git
	branch = main
[submodule "voxtranslate-chrome-extension"]
	path = voxtranslate-chrome-extension
	url = git@github.com:micio86dev/voxtranslate-chrome-extension.git
	branch = main
